<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Header Section start -->
    <div class="mainHeader clearfix">
        <div class="fix-width">

            <div class="header-left">
                <a target="_blank" href="#">LFWF Academy</a>
            </div>

            <div class="header-right ">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">PRODUCT</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CONTENT</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Header End -->

<!-- Benner Section Start -->
<div class="maniBenner">
    <div class="fix-width text-center">
        <h1>WELCOME TO LFWF</h1>
        <h3>We are a full-service intergrated creative Academy</h3>
        <a href="#">LEARN MORE</a>
    </div>
</div>
<!-- Benner Section End -->

<!-- Service Section Start -->
<div class="ous">
    <div class="fix-width text-center">
        <h2>Our Service</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>
<!-- Service Section end -->

<!-- Expriance Start -->
<div class="service clerfix">
    <div class="fix-width text-center">
        <div class="service-item">
            <span><i class="fa-solid fa-display"></i></span>
            <h3>Web Design</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum placeat libero totam, ipsa magnam sint!.</p>
        </div>

        <div class="service-item">
            <span><i class="fa-solid fa-rocket"></i></span>
            <h3>Graphic Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum placeat libero totam, ipsa magnam sint!.</p>
        </div>

        <div class="service-item">
            <span><i class="fa-solid fa-desktop"></i></span>
            <h3>App Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum placeat libero totam, ipsa magnam sint!.</p>
        </div>

        <div class="service-item">
            <span><i class="fa-regular fa-lightbulb"></i></span>
            <h3>Digital Markating</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum placeat libero totam, ipsa magnam sint!.</p>
        </div>
    </div>
</div>

<!-- Expriance end -->


<!-- About Section Start -->
<div class="aboutseCtion clearfix">
    <div class="fix-width text-center">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam?</p>
    </div>
</div>
<!-- About Section End -->


<!-- Contener Section start -->
<div class="contenner clearfix">
    <div class="fix-width">
        <div class="contenr-left text-left">
            <img src="https://i.ibb.co/93SMQFk/about.jpg" alt="about" border="0">
        </div>
        <div class="contenr-right">
            <div class="bg-item">
                <h3>Who We Are</h3>
                <p class="text-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ad itaque expedita nesciunt nisi cumque facere in vel assumenda obcaecati hic, inventore porro totam quaerat excepturi cupiditate nostrum, voluptatem rerum magnam. Dolor delectus voluptates, ipsa cumque iure dolorum fuga!</p>
                </div>
        
                <div class="bg-item">
                <h3>What We do</h3>
                <p class="text-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ad itaque expedita nesciunt nisi cumque facere in vel assumenda obcaecati hic, inventore porro totam quaerat excepturi cupiditate nostrum, voluptatem rerum magnam. Dolor animi voluptas!</p>
                </div>
        
                <div class="bg-item">
                <h3>Why Choose Us</h3>
                <p class="text-left">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus ad itaque expedita nesciunt nisi cumque facere in vel assumenda.</p>
                </div>
        </div>
    </div>
</div>

<!-- Contener Section End -->


<!-- Contact Us Section  Start-->
<div class="contactUS">
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cupiditate.</p>
    
    <div class="contatt clearfix">
        <div class="fix-width">
            <div class="cont">
             <span><i class="fa-solid fa-location-pin"></i></span>
             <h4>Sector:00,Uttara</h4>
             <h4>Dhaka-0000, Bangladesh</h4>
            </div>
            <div class="cont">
             <span class="icon"><i class="fa-solid fa-envelope"></i></span>
             <h4>infu@company.com</h4>
            </div>
            <div class="cont">
             <span class="icon"><i class="fa-solid fa-phone-flip"></i></span>
             <h4>01738276909</h4>
             <h4>01861844303</h4>
            </div>
             
         </div>
    </div>
</div>

<!-- Contact Us Section End -->
<!-- Footer Section Start -->
<footer class="main-foote">
    <ul class="socialmenu">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
<div class="copyright">
    <span>Copyright &copy; LFWF. Designed by LFWF Academy </span>
</div>
</footer>




<!-- Footer Section End -->


</body>
</html>